body {
  margin: 0;
}
.Filter {
  text-align: center;
}
.Filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: white;
}
.header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
}
.left {
  width: 30%;
  background-color: white;
  text-align: center;
  border: 1px solid gray;
}
.list {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list label {
  padding-left: 20px;
}
.tickCircle {
  background-color: blueviolet;
  height: 25px;
  width: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tickIcon {
  color: white;
}
.circleIcon {
  color: white;
  zoom: 2.5;
}
.center {
  width: 30%;
  background-color: white;
  text-align: center;
  border: 1px solid gray;
}
.right {
  width: 30%;
  background-color: white;
  text-align: center;
  border: 1px solid gray;
}
.Filtertitle {
  margin-top: 150px;
}
