body {
  background-color: rgb(255, 255, 255);
}
.Form_outer {
  padding: 40px;
}
label {
  color: rgb(55, 55, 55);
}
.Form_inner1 {
  padding: 10px 0px;
}
.Form_rectangle {
  background-color: rgb(205, 199, 199);
  height: 30px;
  width: 250px;
}
.Form_inner3 {
  padding: 25px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
